.container, .container-full-height, .container-half-height{
    width: 100%;
    margin-right: auto;
    margin-left: auto;  
    
}
.container-full-height{
    height: 100%;
}
.container-half-height{
    height: 50%;
}
.container-center{
    width: 50%;
    height: auto;
    position:absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(50,50,50,.8);
}
.container-third-height{
    width: 50%;
    height: 33%;
}

.padding-all{
    padding: 1.5%;
}
.padding-all-double{
    padding: 3%;
}
.padding-left-right{
    padding-left: 1.5%;
    padding-right: 1.5%;
}
.padding-left-right-half{
    padding-left: 12.5%;
    padding-right: 12.5%;
}
.padding-top-bottom{
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
.padding-top{
   padding-top: 3%; 
}

/*------@media queries------*/
.row::after {
    content:"";
    clear: both;
    display: block;
}
[class*="col"]
{
	float: left;
}

/*------XS @media Mobile------*/
@media(max-width: 767px){
    .col-xs-0 {width: 0;}
    .col-xs-1 {width: 8.33%;}
    .col-xs-2 {width: 16.67%;}
    .col-xs-3 {width: 25%;}
    .col-xs-4 {width: 33.33%;}
    .col-xs-5 {width: 41.67%;}
    .col-xs-6 {width: 50%;}
    .col-xs-7 {width: 58.33%;}
    .col-xs-8 {width: 66.67%;}
    .col-xs-9 {width: 75%;}
    .col-xs-10 {width: 83.33%;}
    .col-xs-11 {width: 91.66%;}
    .col-xs-12 {width: 100%;}
    
}
 
/*------@media Desktop------*/
@media(min-width: 1200px){
    .col-pc-0 {width: 0;}
    .col-pc-1 {width: 8.33%;}
    .col-pc-2 {width: 16.67%;}
    .col-pc-3 {width: 25%;}
    .col-pc-4 {width: 33.33%;}
    .col-pc-5 {width: 41.67%;}
    .col-pc-6 {width: 50%;}
    .col-pc-7 {width: 58.33%;}
    .col-pc-8 {width: 66.67%;}
    .col-pc-9 {width: 75%;}
    .col-pc-10 {width: 83.33%;}
    .col-pc-11 {width: 91.66%;}
    .col-pc-12 {width: 100%;}
}
    
    