@import "style.css";

.listbox{
    width: 95%;
    margin: 2.5%;
}

.inventory-main {
    display: flex !important;
    flex-direction: row;
    justify-content: space-around;
    margin: auto auto;
    padding: 25px;
}

input, select {
    border-radius: 4px 4px 4px 4px;
    border: rgb(75, 78, 88);
    box-shadow: none;
    height: 25px;
    width: 185px;
}

button {
    border-radius: 4px 4px 4px 4px;
    box-shadow: none;
    border: none;
    height: 25px;
    font-size: 16px;
    background-color: #d59975;
}

button:hover {
    background-color: #fff;
    border: #d59975 !important;
    cursor: pointer;
}

p {
    margin: 10px;
    margin-left: 0;
}