@import "style.css";


div{
    
    height: 400px;
    color: black;
}
h2{
    color: black;
    text-align: center;
 }
div h2{
    color:black;
    text-align: center;
}
form{
    margin-left: 5%;
    margin-right: 5%;
}
form div{
    border:5px;
}
form input{
    width: 94%;
    padding: 8px 4px;
    margin: 0 3% 2%;
    font-size: 19px;
    border: 2px solid #000
}
form label{
    margin: 0 3% 4px;
    display: block;
    padding:  0 1%;
    font-size: 18px;
}
div button button{
    float: right;
    height: 30px;
    font-size: 20px;
    margin: 0 3%;
}


p{
    text-align: left;
    margin-left: 5%;
}
/*
#showPassword input{
    width: 30px;
    padding-left: 3px;
}
.log_in-help, .register-help{
    padding: 4% 2% 0 2%;
    font-size: 13px;
}
#forgotPassword{
    float: left;
}
#noAccount{
    float: right;
}*/